<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913814973394-pmqj1sfs52c76r7f8pe1s5kbtrd4fn5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913814973394-pmqj1sfs52c76r7f8pe1s5kbtrd4fn5n</string>
	<key>API_KEY</key>
	<string>AIzaSyCLe_ut4EikX72Nk1XAE3tIG3VEurd0uY0</string>
	<key>GCM_SENDER_ID</key>
	<string>913814973394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ef38f</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ef38f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913814973394:ios:d53e35c22766516119360b</string>
</dict>
</plist>